body{
    margin: 0;
}
.display-flex{
    display: flex;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
}
.fixed{
}
.header-icon-patten{
    /* width: 25rem; */
    /* background-color: red; */
    display: flex;
    width: 24rem;
    /* position: fixed; */
    
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.header-divs{
    width: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 10rem ;
}
.icons{
    margin-left: auto;
}
.content{
    
    /* max-height: 85%; */
}